@import url(font-family: 'Noto Sans', sans-serif);
@import url(font-family: 'Noto Sans', 'Noto Sans CJK JP', sans-serif;);
/* ==========================================================================
Typography
========================================================================== */
@font-face {
    font-family: 'Noto Sans JP';
    src: url('fonts/NotoSans.eot');
}
.font-jp {
  font-family: 'Noto Sans', 'Noto Sans CJK JP', sans-serif !important;
}
body {
  font-family: 'Noto Sans', 'Noto Sans CJK JP', sans-serif !important;
  color: #415469 !important;
}
p {
  font-size: 12px;
margin: 0;}

h1 {
  font-size: 26px !important; }

h2 {
  font-size: 16px !important;}

h3 {
  font-size: 14px !important;
  margin-bottom: 20px;}

.hight-gray {
  color: #9cafc3;
}
.gray {
  color: #788ba0;
}
.green {
  color: #38ba72;
}
.zero {
  margin: 0 !important;
  padding: 0 !important;
}
.bg-gray{
  background: #f9f9f9;
}
/* ==========================================================================
General
========================================================================== */
.page-title {
  font-size: 50px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-align: left;
  color: #38ba72;
  margin-bottom: 30px;
}
.page-instruction {
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-align: left;
  margin-bottom: 30px;
  color: #415469;
}
.required-asterisk{
  color: #38ba72;
}
input.input, 
textarea.input, 
select.input {
  border: solid 1px #9cafc3;
  border-radius: 0;
}
label.hint{
  color: #9cafc3;
}
form input:focus + label.hint {
  color: #38ba72 !important;
}
.form-group {/*bootstrap*/
  margin-bottom: 30px !important;
}
.form-control {/*bootstrap*/
  color: #415469;
}
.control-label {  /*bootstrap*/
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-align: left;
  color: #415469;
  padding: 0 !important;
}
.form-button {
  border: 1px solid #38ba72;
  border-radius: 1px;
  background-color: #38ba72;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  text-transform: uppercase;
}
.form-button2 {
  border-radius: 3px;
}
ul.error-wrapper {
  border-left: 5px solid #a94442;
  padding-left: 15px;
}
ul.error-wrapper li {
  list-style-type: none;
}
ul.error-wrapper li::before {
  content: "· ";
  font-size: 24px;
  vertical-align: middle;
}
.error-message {
  color: #a94442;
  font-weight: normal !important;
}
.success-message {
  color: #38ba72;
  font-weight: normal !important;
}
a.inpage-link,
a.inpage-link:visited{
  font-family: NotoSans;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  text-align: left;
  color: #38ba72;
  text-decoration: none;
}
a.inpage-link:hover{
  text-decoration: underline;
  color: #38ba72;
}
.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
.disabled {
  background-color: #617283;
  border: 1px solid #617283;
}
.form-group-glyphicon {
  position: relative;
}
.form-group-glyphicon .form-control-right-glyphicon {
    padding-right: 30px;
}
.form-group-glyphicon .glyphicon-right {
    right: 10px;
    position: absolute;
    top: 35px;
}
.form-group-glyphicon .form-control-left-glyphicon {
    padding-left: 30px;
}
.form-group-glyphicon .glyphicon-left {
    left: 10px;
    position: absolute;
    top: 35px;
}
.cursor {
  cursor: pointer;
}
/* ==========================================================================
General
========================================================================== */
.page-title {
  font-size: 50px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-align: left;
  color: #38ba72;
  margin-bottom: 30px;
}
.page-instruction {
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-align: left;
  margin-bottom: 30px;
  color: #415469;
}
.required-asterisk{
  color: #38ba72;
}
input.input, 
textarea.input, 
select.input {
  border: solid 1px #9cafc3;
  border-radius: 0;
}
label.hint{
  color: #9cafc3;
}
form input:focus + label.hint {
  color: #38ba72 !important;
}
.form-group {/*bootstrap*/
  margin-bottom: 30px !important;
}
.form-control {/*bootstrap*/
  color: #415469;
}
.control-label {  /*bootstrap*/
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-align: left;
  color: #415469;
  padding: 0 !important;
}
.form-button {
  border: 1px solid #38ba72;
  border-radius: 1px;
  background-color: #38ba72;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  text-transform: uppercase;
}
.form-button2 {
  border-radius: 3px;
}
ul.error-wrapper {
  border-left: 5px solid #a94442;
  padding-left: 15px;
}
ul.error-wrapper li {
  list-style-type: none;
}
ul.error-wrapper li::before {
  content: "· ";
  font-size: 24px;
  vertical-align: middle;
}
.error-message {
  color: #a94442;
  font-weight: normal !important;
}
.success-message {
  color: #38ba72;
  font-weight: normal !important;
}
a.inpage-link,
a.inpage-link:visited{
  font-family: NotoSans;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  text-align: left;
  color: #38ba72;
  text-decoration: none;
}
a.inpage-link:hover{
  text-decoration: underline;
  color: #38ba72;
}
.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
.disabled {
  background-color: #617283;
  border: 1px solid #617283;
}
.form-group-glyphicon {
  position: relative;
}
.form-group-glyphicon .form-control-right-glyphicon {
    padding-right: 30px;
}
.form-group-glyphicon .glyphicon-right {
    right: 10px;
    position: absolute;
    top: 35px;
}
.form-group-glyphicon .form-control-left-glyphicon {
    padding-left: 30px;
}
.form-group-glyphicon .glyphicon-left {
    left: 10px;
    position: absolute;
    top: 35px;
}
.cursor {
  cursor: pointer;
}
/* ==========================================================================
Login
========================================================================== */
.user-section {
  padding-top: 10px;
  padding-bottom: 5px;
}
.login-p {
  padding-top: 8px;
  float: right;
}
.login-p span {
  font-size: 12px;
  color: #9cafc3;
}
.login-p .avatar, .menu-btn  {
  display: inline-block;
}
.login-p .avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #617283;
  margin-right: 5px;
}
.login-p .ion-android-person {
  font-size: 1.3em;
  padding-left: 11px;
  padding-top: 4px;
  color: #fff;
}

.login-p .menu-btn {
  width: 28px;
  height: 28px;
  background: #e3e3e3;
  margin-left: 5px;
  cursor: pointer
}
.login-p .ion-android-menu {
  font-size: 1.3em;
  padding-left: 8px;
  color: #fff;
}

/* ==========================================================================
Logo Section
========================================================================== */
.logo-section {
  background: #1a1e21;
}
.logo-p {padding-top: 19px;float: left;padding-right: 20px;}
.search-p {
  float: left;
  border-radius: 3px;
  background-color: #394149;
  border: solid 1px #30373d;
  margin-top: 10px;
  margin-bottom: 10px;
}
.search-p input {
  width: 683px;
  height: 52px;
  border-radius: 3px;
  background: none;
  border: none;
  float: left;
  padding-left: 20px;
}
@media all and (max-width: 768px) {
  .search-p{
    width:100%;
  }
  .search-p input {
    width: 100%;
  }
}
.search-p input:focus.search-box {box-shadow: 0;outline: 0;}
.search-p textarea:focus.search-box, input:focus.search-box {
    color: #fff;
}

.search-p input.search-box, select.search-box, textarea.search-box{
    color: #fff;
}
.search-p .ion-android-search {
  font-size: 1.8em;
  color: #fff;
  padding-top: 9px;
  padding-left: 15px;
  float: left;
}
.newtoken-btn {
  float: right;
  font-size: 14px;
  color: #fff;
  border-radius: 3px;
  background-color: #38ba72;
  padding: 17px 40px;
  margin-top: 10px;
  cursor: pointer
}
/* ==========================================================================
Banner Section
========================================================================== */
.banner-section {
  width: 100%;
  margin-top:50px;
  min-height: 412px;
  background: url("../img/background.jpg") center center;
  background-size: cover;
}
/* ==========================================================================
slide
========================================================================== */
.carousel-inner .token-img img {
    width:200px;
    max-width: 100%;
    height: 200px;
    border-radius: 3px;
    box-shadow: 0 2px 12px 0 rgba(0, 2, 12, 0.09);
}
@media all and (max-width: 768px) {
  .carousel-inner .token-img img {
      width:100%;
      height: auto;
  }
}
.carousel-example-generic {
  position: relative;
}
.carousel-indicators {
    position: absolute;
    left: inherit;
    right: 5%;
    width: initial;
    margin-left: 0;
    text-align: left;
    top: 30%;
}

.carousel-indicators li{
	 border:none !important;
	 text-indent: inherit;
   min-height: 50px;
   display: block;
   text-align: center;
}
.carousel-indicators .active{
	background: none;
}
@media all and (max-width: 500px) {
  .carousel-indicators{
      width:100%;
      text-align: center;
      left: auto;
      top:150%;
      margin-bottom:0
  }
  .carousel-indicators li{
    display:inline-block;
    width:50px;
  }
  .carousel-indicators .active{
    width:50px;
  }
  
}
.carousel-indicators img{
   width:50px;
   height:50px;
   border-radius: 50%;

}
.carousel-inner {
  position: relative;
    top: 55px;
}
.carousel-inner .date-token {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 1.3px;
  color: #72879d;
}
.carousel-inner .name-token {
  font-weight: bold;
  letter-spacing: 1.3px;
  color: #72879d;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 5px;
}
.carousel-inner .detail-btn {
  border-radius: 3px;
  background-color: #38ba72;
  padding: 13px;
  margin-top: 10px; 
    max-width: 158px;
    text-align: center;
    color:#ffffff;
    text-decoration: none;
   display:block;
}



.carousel-inner .by-user {
  padding-top: 5px;
  color: #788ba0;
  padding-bottom: 5px;
}
.carousel-inner .by-user span {
  color: #38ba72;
  text-align: center;
}
.carousel-inner .ion-android-star {
  color: #38ba72;
  font-size: 1.5em;
}
.carousel-inner .star span {
    padding-right: 3px;
}
#carousel-example-generic ol li img:hover {
  border: 1px solid #38ba72;
  border-radius: 3px;
}


/* ==========================================================================
Category Section
========================================================================== */

 .border-line {
   border-left:1px solid #E9E9E9;
 }
.category-p {
  padding-top: 10px;
  padding-left: 55px;
}
.list-category ul{
  padding-left:0
}
@media all and (max-width: 768px) {
  .category-p {
      padding-top: 10px;
      padding-left: 15px;
  }
  .list-category li{
      display:inline-block;
      margin-right:20px;
  }
}

.category-p h2 {
  color: #9CAFC3;
}
.category-p ul li {
  list-style: none;
  font-size: 16px;
  color: #788BA0;
  padding-top: 20px;
}

/* ==========================================================================
Tags Section
========================================================================== */
.tag-p {
  padding-top: 10px;
  padding-left: 55px;
}
@media all and (max-width: 768px) {
    .tag-p{
      padding-left: 15px;
    }
}
.tag-p h2 {
  color: #9CAFC3;
}
.tag-p ul {
  padding: 0;
  padding-top: 20px;
}
.tag-p ul li {
  padding: 3px 5px;
  font-size: 12px;
  color: #788BA0;
  display: inline-block;
  border: 1px solid #788BA0;
  margin-bottom: 3px;
}
.tag-p ul li:hover {
  border: solid 1px #38ba72;
  color: #38ba72;
  /*cursor: pointer;*/
}

/* ==========================================================================
Tokency Section
========================================================================== */
.tokency-p {
  background-color: #f9f9f9;
  padding-left: 30px;
}
.tokency-p h2 {
  padding-top: 10px;
  font-weight: bold;
   color: #788BA0;
   padding-bottom: 30px;
}
.token-block {
  margin-right: 40px;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0 1px 9px 0 rgba(0, 0, 0, 0.14);
  position: relative;
  margin-top: 10px;
}
@media all and (max-width: 768px) {
  .token-block{
      margin-right: 0px;
  } 
}
.token-block .media-left {
  width:  180px; 
  height: 180px;
  
}
@media all and (max-width: 768px) {
  .token-block .media-left {
    display: block;
    text-align: center
  }
}
.token-block .media-object {
      width:200px;
      height: 200px;
} 
@media all and (max-width: 768px) {
    .token-block .media-object{
        width:100%;
        height: auto
    }
}
.token-block .media-heading{
  color: #788ba0;
  font-weight: bold;
}
.token-block .media-heading a{
    text-decoration: none
}
.token-block .media-left{
  padding-right:26px;
}
.token-block .by-user {
  padding-top: 5px;
  color: #788ba0;
}
.token-block .by-user span {
  color: #38ba72;
}
.token-block .ion-android-star {
  color: #38ba72;
  font-size: 1.5em;
}
.token-block .star {
  padding-bottom: 20px;
}
.token-block .star span {
  padding-right: 3px;
}
.token-block .description-token {
  color: #788ba0;
}

.star span.star-uncheck {
  color: #94989e;
}
.token-block .media-body {
  padding-top: 20px;
  padding-bottom: 18px;
  padding-right: 15px;
}
@media all and (max-width: 768px) {
  .token-block .media-body{
      padding-top:0
  } 
}
.token-btn .edit-btn, .share-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 28px;
  height: 28px;
  border: solid 1px #e2e2e2;
  color: #aaa;
  padding-left: 7px;
  padding-top: 3px;
  margin-top: 10px;
  margin-right: 10px;
  cursor: pointer
}
.token-btn .share-btn {
  margin-right: 45px;
}
.token-btn .edit-btn:hover, .share-btn:hover {
  border: solid 1px #38ba72;
  color: #38ba72;
}
/* ==========================================================================
right drawer
========================================================================== */
.drawer{
  position: fixed;
  z-index: 200;
  background-color: #ffffff;
  transition: transform 0.3s;    
  padding-top:20px;
  padding-left:35px;
  height:100%
}
.drawr-right{
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  font-weight: bold;
 }
@media all and (min-width: 320px) {
  .drawr-righ {
    width: 389px;
  }
}

.drawer-right{
  top: 0;
  right: 0;
  transform: translateX(100%);  
}
@media all and (min-width: 320px) {
  .drawer-right {
    transform: translateX(432px);
  }
}
.drawer-right.is-active{
  transform: translateX(0);
}
.drawer .closeMenu {
    position: absolute;
    top: 0;
    left:-42px;
    width:42px;
    height: 42px;
    font-size: 36px;
    display:block;
    background:#ffffff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    line-height: 42px;
    text-align: center;
    color:#515a64;
    text-decoration: none;
}
.closeMenu:focus {
  outline: none;
}
.mask{
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 0;
  height: 0;
  background-color: #000;
  opacity: 0;
  transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
}
.mask.is-active {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  transition: opacity 0.3s;
}
.drawer-right h3{
  font-size: 18px !important;
}
.drawer-right ul{
  list-style: none;
  padding-left:0
}
.drawer-right ul a{
  text-decoration: none;
}
.drawer-right ul li{
  font-size: 18px;
  color:#34393e
}
.drawer-right ul li.menu_link a{
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 1.3px;
  text-align: left;
  color: #38ba72;
}
.drawer-right .seperate{
  width: 350px;
  height: 3px;
  background: #f6f6f6;
  margin-top:21px;
  margin-bottom: 26px;
}

/* ==========================================================================
pagination
========================================================================== */
.pagi-custom {
  float: right;
  margin-right: 40px;
  
}
.pagi-custom ul {
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0 1px 9px 0 rgba(0, 0, 0, 0.14);
  border: none;
  padding: 5px;
}
.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {
  background-color: #14b652;
  color: #fff;
}
.pagination>li.active>a, .pagination>li.active>a:hover, .pagination>li:hover, .pagination>li.active>a:active, .pagination>li.active>a span{
  color:#fff !important;
  background-color: #14b652 !important;
  cursor: pointer
}
.pagi-custom span {
  font-size: 10px;
  color: #788ba0;
  padding-right: 5px;
  padding-left: 5px;
}
.pagination>li>a, .pagination>li>span {
  border:none;
}
.pagination>li>a {
  color: #788ba0;
  font-size: 10px;
}
/* ==========================================================================
Footer
========================================================================== */
.footer-section {
  background: #1a1e21;
}
.footer-section .logo-p {
  padding-bottom: 20px;
}
.footer-section h3 {
  padding-top: 10px;
  color: #fff;
}



